* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:wheat;
}

header{
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px; 
    height: 30%;
    text-align: center;
}

nav{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* Hacer uso del transform */
}


li a:hover {
    background-color:peru;
    transition: 0.5s;
}

footer{
    text-align: right;
    position:fixed;
    top: 0;
    right: 0;
    background-color: transparent;
}

main {
    text-align: center;
}