h1 {
    padding-bottom: 1.5em;
}

main {
    text-align: center;
}

body {margin:25px;}

main img {
    width: 25%;
    background-color: white;
    box-shadow: 0 8px 16px 0 coral, 0 6px 20px 0 coral;
    margin-bottom: 25px;
}

.imatge {
    margin-bottom: 2em;
    text-align: center;
    padding: 10px 20px;
}